/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #fff;
}

/* Header Styles */


header {
  text-transform: uppercase;
  font-size: .7rem;
  padding: 15px 0;
  color: white;
  background-color: #2d3945;
  margin-bottom: 20px;
}

main h2 {
    font-size: 1.2rem;
    padding-top: 20px;
}

.latest {
  color: #b1b5b9;
  margin: 0 auto;
  margin-bottom: 3px;
  padding-bottom: 40px;
  width: 92%;
  border-bottom: 4px #2d3945 solid;
}

/* Contact Information Styles */

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;

}

legend {
  margin-bottom: 10px;
}

.contact label {
  display: block;
  margin-bottom: 8px;
}

.contact input:focus {
  box-shadow:inset 0px 0px 0px 2px #46698b;
  transition: .5s;
}

.contact {
  width: 92%;
  margin: 0 auto;
}

fieldset .zip {
  width: 150px;
}

fieldset {
  border: none;
  padding: 0;
  color: #7a8896;
  text-align: left;
}

h3 {
  color: #2d3945;
}

::-webkit-input-placeholder {
  color: #adb2b7;
  text-align: right;
  padding: 0 20px;
  font-style: italic;
}

.choose {
  color: #adb2b7;
}


/* Newsletter Styles */

input[type=submit]{
  background-color: #4ebbb5;
  margin: 15px auto;
  width: 92%;
  border: none;
  color: white;
  font-size: 1.5em;
  border-radius: 4px;
  padding: 16px 32px;
}

textarea {
  background-color: #eff0f1;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 20px 0;
  margin: 30px auto 10px;
}

input.checkbox,
input.radio {
  float: right;
}

.border {
  display: block;
  width: 92%;
  margin: 0 auto;
  border-top: 2px #2d3945 solid;
  padding-bottom: 10px;
}

.checkbox,
.radio {
  line-height: 2.5;
}

.newsletter label {
  padding-bottom: 10px;
}

.newsletter {
  width: 92%;
  margin: 0 auto;
}

.sub-label {
  display: block;
  margin-bottom: -15px;
  padding-top: 30px;
  clear: both;
}

/* Footer Styles */

footer p {
  color: #b1b5b9;
  font-style: italic;
  margin: 30px auto 50px;
}

/* Styles for larger screens */

@media screen and (min-width: 768px) {

    main {
      width: 750px;
      margin: 0 auto;
    }

    .form-row {
      display: flex;
      flex-direction: row;
    }

   .contact label {
     flex-basis: 30%;
   }
}
